---
import { getCollection, getEntryBySlug } from 'astro:content';

// Esta función le dice a Astro qué slugs debe generar
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Recibe el post como prop
const { post } = Astro.props;
---

<html>
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <p>{post.data.date.toDateString()}</p>
    {post.data.image && <img src={post.data.image} alt={post.data.title} />}
    <article>
      {post.body}
    </article>
  </body>
</html>
